<div class="container">
  <h1>All Lists</h1>
  <p><%= link_to "Add a new list", new_list_path %></p>
  <hr>
  <% @lists.each do |list| %>
    <p><%= link_to list.name, list_path(list) %></p>
  <% end %>


</div>
